<h1>Welcome</h1>

<p>
  hi, you are successfuly booked in <%= @event.title %> Event.
</p>
<p>
 Please kindly check <%= link_to 'Your Calendar', "#{Rails.application.config.frontend_url}/calendar" %>
</p>