<h1>Welcome!</h1>

<p>You've been invited to join AlMakinah Summit as an admin with the following message:</p>

<br />

<p>"<%= @message %>"</p>

<br />

<p>Click the link below to finish your registration: <br/>
<%= link_to 'Finish Registration', "#{Rails.application.config.frontend_url}/newadmin?invitation_token=#{@token}" %>
</p>

<br />

<p>Best,</p>
<p>AlMakinah Team</p>