<h1>Welcome!</h1>

<p>You've been invited to join AlMakinah Summit as an admin with the following message:</p>

<p>"<%= @message %>"</p>

<p>Click <%= link_to 'here', "#{Rails.application.config.frontend_url}/newadmin?invitation_token=#{@token}" %> to finish your registration.</p>

<p>Best,</p>
<p>AlMakinah Team</p>