<h1>Welcome!</h1>

<p>
	hi, The Event you've been booked is updated 
</p>
<p><%= @event.name %> was updates</p>
<p>@event.id, @event.name
	<%= link_to 'Event link', "http://localhost:3001/events/@event.id" %>
</p>
